.dashboard {
  &__page {
    padding-top: 80px;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-align: center;
  }
  &__container {
    padding: 40px 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
  }
  &__buttons-container  {
    width: auto;
    margin: 0;
  }
}

