/* Styles par défaut (mobile first) */
.header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color);
  width: 100%;
  height: 64px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 20px;
}

.header__logo {
  width: 30px;
  height: 30px;
}

.header__burger-icon {
  cursor: pointer;
  width: 30px;
  height: 30px;
  transition: 0.5s;
}

.header__burger-icon--closed {
  transform: rotate(360deg);
}

.header__burger-icon--open {
  /* Styles spécifiques à l'icône ouverte */
}

.header__menu {
  display: none; /* Caché par défaut */
}

.header__menu--open {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  height: 380px;
  border: solid 1px gray;
  border-bottom-left-radius: 5px;
  background-color: var(--color);
  flex-direction: column;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 2;
}

.header__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  margin: 1rem;
}

.header__list-item {
  text-align: center;
  margin: 10px 0;
}
.header__list-item > a {
  text-decoration: none;
}
.header__list-logout {
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.header__link {
  text-decoration: none;
  background-color: green;
}

/* Styles pour les écrans plus larges */
@media screen and (min-width: 769px) {
  .header {
    position: relative;
    background-color: var(--color);
  }
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 5px 20px;
  }

  .header__logo {
    width: 30px;
    height: 30px;
  }
  .header__menu {
    height: calc(100vh - 105px);
    border-bottom-left-radius: 0;
    z-index: 2;
    border-top: none;
    border-right: none;
  }
  .header__menu--open {
    height: calc(100vh - 105px);
    border-bottom-left-radius: 0;

    z-index: 2;
    border-top: none;
    border-right: none;
  }

  .header__list-item > a {
    text-align: center;
    margin: 10px 0;
    color: white;
  }
  .header__list-logout {
    color: white;
  }
}
